<style type="text/css">

 ul{
  list-style-type: none;
   }
   
  a:link{color:blue;}
  a:hover{color:red;}

  a{
     font-family:"Verdana",Sans-serif;
     font-size:20px;
     padding-left:50px;
    }
    
 body {
  background-color: #F8F8FF;
  color: black;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: .9em;
   }

  content{
    
   }
  
  h1{
     margin-bottom:0;
     margin-top:0;
     color:black;
     text-align:center;
     font-size:40px;
     }

  #menu{
     background-color:#FFA500;
     height:100%;
     width:100px;
     float:left;
     }   
  
</style>



<div id="header" style="background-color:#FFA500;">
<h1>NAME OF SEARCH ENGINE</h1></div>

<div id="menu">
</div>


<div id="content">
<h3> The following results were found: </h3>
<ul >
  <li><a href="https://www.google.co.in/">Google</a></li>
  <li><a href=" https://www.google.co.in/">Google2</a></li>
</ul>
</div>
